/* font style */
.inter-font-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* blue logo in header */
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
/* sign up button+ all button style, they all seem same and added hover style*/
.btn-style:hover{
  color: rgb(128, 128, 192);
  cursor: pointer;
}
.btn-style{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}
/* to put logo and signup button in same line */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
/* hero banner */
header{
  background-image: url('Assets/Hero-bg.png');
  padding-bottom: 165px;
}
/* banner text */
.banner-text{
  font-size: 65px;
  font-weight: bold;
  margin-top: 158px;
  text-align: center;
}
/* to put the button stay focused button of banner in center */
.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* section two contains "see it in action - title, subtitle,image */
.sec-two{
  display: flex;
  justify-content: space-evenly;
  margin:120px 150px;
  
}
.sectwo-img{
  border-radius: 30px;
 
}
.sectwo-title{
font-size: 42px;
font-weight: bold;
 margin-bottom: 20px;
}
.sectwo-subtitle{
  font-size: 24px;
  font-weight: 100;
   margin-bottom: 20px;
}
.sectwo-wholetext{
  margin-top: 60px;
}
/* section two ends here i guess */
/* section three starts from here ,its "joined thousand of productive users */
.sec-three{
  background-color: #c5c4e6;
  padding: 50px 145px;
  border-radius: 30px;
  margin: 120px 250px;
}
/* its design joined thousand of productive uswer */
.secthree-title{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
/* designed 50+ 2m+ 95% text */
.secthree-list ul li{
font-size: 90px;
color: #5c57df;
font-weight: bold;
list-style: none;
margin-left: 30px;

}
/* merging those list */
.secthree-block{
display: flex;
gap: 158px;
align-items: center;
}

.secthree-subtitle{
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  
}
/* section 4 starts from  here "what our user says */

.sec-four{
  display: flex;
  justify-content: center;
  font-size:40px;
  font-weight: 700px;
}

.card-container{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.card{
     background-color: rgb(216, 193, 231);
     height: 243px;
  width: 250px;
  padding: 30px;
  border-radius: 20px;
  }
.review{
  display: flex;
  gap: 20px;
  padding-top: 40px;
}
.review img{
  height: 60px;
  width: 60px;
  border-radius: 30px;
}